.sliderContainer {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    box-shadow: 0px 3px 3px lightgrey;
    position: relative; 
}

/*This makes the checkbox invisible but should still be accesable */
.sliderContainer input[type=checkbox] {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
 
.switchLabel {
    background-color: black;
    color: white;
    flex: 1;
    padding: 0.5em;
    height: 100%;
    text-transform: lowercase;
    transition: padding-left 1s ease;

}

.switchLabel.yes{
    padding-left: calc(var(--label-width) - (var(--label-width)/2));
}


.sliderContainer label.on,
.sliderContainer label.off {
    background-color: white;
    color: black;
    padding: 0.5em;
    position: absolute; 
    top: 0;
    transition: left 1s ease;
    text-transform: capitalize;

}

.sliderContainer label.on {
    left: 0; 
}

.sliderContainer label.off {
    left: calc(100% - var(--element-width));
}

